# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
*.g.dart
*.freezed.dart

# Android
app/android/.gradle/
app/android/captures/
app/android/local.properties
app/android/GeneratedPluginRegistrant.java
*.apk
*.aab
*.keystore
*.jks

# iOS
app/ios/.symlinks/
app/ios/Flutter/flutter_export_environment.sh
app/ios/Flutter/Generated.xcconfig
app/ios/Pods/

# Coverage
coverage/
